{% extends 'base.html' %}

{# Load the tag library #}
{% load django_bootstrap5 %}

<!-- {# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %} -->

{% block title %}Login Check{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2"></div>
            <div class="col-md-auto">
                <div class="card border-success ">
                    <div class="card-body">
                        <h3>Booking Details for Booking #{{ booking.id }}</h3>
                        <p>Property title: {{ booking.property.title }}</p>
                        <p>Check-in Date & Time: {{ booking.check_in_datetime }}</p>
                        <p>Check-out Date & Time: {{ booking.check_out_datetime }}</p>
                        <p>Total Price for Booking: {{ booking.total_price }}</p>
                        {% if booking.confirmation_status == 'confirmed' %}
                            <p> Booking Status: {{ booking.confirmation_status | title }}</p>
                        {% elif booking.confirmation_status == 'cancelled' %}
                            <p>Booking Status: {{ booking.confirmation_status | title }}</p>
                        {% endif %}
                    </div>
                
                </div>
            </div>
            
            <div class="col col-lg-2"></div>
        </div>
    </div>
{% endblock %}
