{% extends 'base.html' %}

{# Load the tag library #}
{% load django_bootstrap5 %}

<!-- {# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %} -->

{% block title %}Register{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2"></div>
            <div class="col-md-auto">

                <div class="card border-success " style="width: 30rem;">
                    <div class="card-body">
                        <div><p>Have an account? <a href="{% url 'login' %}">Login here instead.</a></p></div>
                        <div>
                            <form action="{% url 'register' %}" class="form" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                {% bootstrap_button button_type="submit" content="Register" %}
                            </form>
                        </div>
                
                        <div><p>Have an account? <a href="{% url 'login' %}">Login here instead.</a></p></div>
                        
                        </div>
                    </div>
                <!-- Type in your profile code choices here -->
            </div>
            
            <div class="col col-lg-2"></div>
        </div>
    </div>
{% endblock %}