{% extends 'base.html' %}

{# Load the tag library #}
{% load django_bootstrap5 %}


{% block title %}Home{% endblock %}

{% block main %}

        {% if properties %}
            {%  for property in properties %}
                <div>
                    <p>{% if property.image or property.video %}</p>

                        <div class="container mt-4">
                            <div class="card border-success">
                                <!-- Card Header -->
                                <div class="card-header">
                                    <h5 class="card-title">Title: {{ property.title }}</h5>
                                </div>
                        
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- Carousel -->
                                    <div id="carouselExample" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="{{ property.image.url }}" alt="{{ property.title }}" class="d-block w-90" >
                                            </div>
                                            <div class="carousel-item">
                                                <!-- <img src="..." class="d-block w-100" alt="..."> -->
                                                <!-- <video width="320" height="240" controls> -->
                                                {% if property.video %}
                                                    <video controls>
                                                        <source src="{{ property.video.url }}" type="video/mp4">
                                                        Your browser does not support the video tag.
                                                    </video>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                                                        
                                    </div>
                                    {% endif %}
                                    <!-- End Carousel -->

                                    <div class="card-body">
                                        
                                        <p class="card-text">Description/About: {{ property.description }}.</p>
                                        <p class="card-text">Address: {{ property.address }}, {{ property.city }}, {{ property.state }}, {{ property.zip_code }}, {{ property.country }}.</p>
                                        <p class="card-text">Price/Night: {{ property.price_per_night }} per night.</p>
                                        <p class="card-text">Living Spaces: {{ property.parlours }} parlours, {{ property.bedrooms }} bedrooms and {{ property.bathrooms }} bathrooms.</p>
                                        <p class="card-text">Maximum Number of Guests allowed: {{ property.guests_capacity }} guests</p>
                                        <p class="card-text">Other Features/Amenities Available: 
                                        {% for feature in property.features.all %}
                                            {{ feature.number }} {{ feature.name }},
                                        {% endfor %}</p>
                                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                        <p><a href="{% url 'listing_details' listing_id=property.id %}">Click for more details.<span><a href="{% url 'check_availability' property_id=property.id %}"><button>Check Availability.</button></a></span> <span><a href="{% url 'create_booking' property_id=property.id %}"><button>Book Now!</button></a></span> </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                
                </div>
            {% endfor %}

        {% else %}
            <p>There are no listed properties yet.</p>
        {% endif %}

{% endblock %}














