{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {% block extra_styles %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> {% endblock %}

    <title>{% block title %}Shortlets.com{% endblock %}</title>

    
</head>
<body>

    <header>
        <!-- Common header content goes here -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">Shortlets.com</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                  </li>
                  {% if not user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">login</a>
                  </li>
                  {% endif %}
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_listing' %}">List A Shortlet</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Register An Account
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'register' %}">Register As A User</a></li>
                        <li><a class="dropdown-item" href="{% url 'renter_registration' %}">Register As A Renter</a></li>
                        <li><a class="dropdown-item" href="{% url 'manager_registration' %}">Register As A Shortlet Manager</a></li>
                      
                    </ul>
                  </li>
                </ul>
              </div>
              <form action="{% url 'property_search' %}" method="get" class="d-flex" role="search">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>

    </header>

    <main>
        
        <div class="container">
            {% block content %}
                {% if user.is_authenticated %}
                    <div class="card border-success " style="width: 18rem;">
                        <div class="card-body">
                            Welcome {{ request.user | title }}!
                        </div>
                    </div>
                {% endif %} 
      
            
                {% bootstrap_messages %}
                
                {% block main %}{% endblock %}
            
            {% endblock %}
        </div> 
    </main>


    <footer>
        <!-- Common footer content goes here -->
    </footer>
</body>
</html>